
	<table>
          <tr ng-if="items!=0">
            <th> Item Name</th>
            <th> Item Short Name</th>
            <th> Item Description</th>
            <th>Want it or No?</th>
          </tr>
          <tr ng-repeat="item in items">
            <td> {{item.name}} </td>
            <td> {{item.short_name}} </td> 
            <td> {{item.description}} </td>
            <td>
              <button style="margin:3px;" ng-click="onRemove({index : $index})" class="btn">Dont want this one !</button>
            </td>
          </tr>
    </table>

    <div ng-if="items==0" class="emptyMessage">
      {{message}}
    </div>
